*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* HEADER SECTION */

header{
    display:flex;
    align-items: center;
    background: linear-gradient(90deg, #255081 1.18%, #26c7d3 100%);
    color:white;
    padding:0.5rem 2.7rem;
}
.header-img{
    height:4rem;
    width:5rem;
    margin-right:0.5rem;
}
.header-title{
    margin-right: auto;
}

/* MAIN MEME SECTION */

main{
    margin:3rem 2.7rem;
}
.form{
    display:grid;
    grid-template-areas: "i1 i2"
                         "b b";
    gap: 1.5rem;
}
.form-input1{
    grid-area: i1;
}
.form-input2{
    grid-area: i2;
}
.form input{
    padding: 1rem 2rem;
    font-family: "Karla", sans-serif;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    font-size: 1rem;
    /* text-indent: 1rem; */

}
.form-button{
    grid-area: b;
    padding: 1.3rem 2rem;
    font-family: "Karla", sans-serif;
    background: linear-gradient(90.41deg, #255081 1.14%, #26c7d3 100%);
    border: 1px solid #D5D4D8;
    border-radius: 15px;
    font-size:1.3rem;
    color:white;
    cursor: pointer;
}
.meme-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
